<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./logo.svg" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <img alt="" id="laughImg" />
      <h1>Don't Laugh challange</h1>
      <div class="joke" id="joke"></div>
      <button id="btnJoke" class="btn">Get another joke</button>
    </div>
  </body>
</html>
